@using App.Domain.Core.Hw20.CarModel.Entities
@model List<CarModel>

<div class="container px-5 my-5">
    <form method="post"  asp-action="AddRequest">
        <div class="form-floating mb-3">
            <input class=" form-control" name="NationalCode" type="text" placeholder="National Code" data-sb-validations="required" required />
            <label for="NationalCode">National Code</label>
        </div>

      

        <div>
            <div class="form-floating mb-3">
                <select name="CarModel" class="form-select" id="validationCustom04" required>
                    <option selected disabled value="">Car Model</option>
                    @foreach(var car in Model)
                    {
                        <option>@car.Name</option>
                    }
                    
                </select>
                <div class="invalid-feedback">
                    Please select a valid state.
                </div>
            </div>
        </div>

        <div class="form-floating mb-3">
            <input class=" form-control" name="LicensePlate" type="text" placeholder="License Plate" data-sb-validations="required" required />
            <label for="LicensePlate">License Plate</label>
        </div>

        <div class="form-floating mb-3">
            <input class=" form-control" name="YearOfCar" type="number" placeholder="Year Of Car" data-sb-validations="required" required />
            <label for="YearOfCar">Year Of Car</label>
        </div>

        <div class="form-floating mb-3">
            <input class=" form-control" name="DateVisit" type="date" placeholder="Date Visit" data-sb-validations="required" />
            <label for="DateVisit">Date Visit</label>
        </div>

        <div class="form-floating mb-3">
            <input maxlength="10" class=" form-control" name="PhoneNumber" type="number" placeholder="PhoneNumber" data-sb-validations="required" required />
            <label for="PhoneNumber">Phone Number</label>
        </div>

        <div class="form-floating mb-3">
            <input class=" form-control" name="Address" type="text" placeholder="Address" data-sb-validations="required" required="سذسیذلبذ" />
            <label for="Address">Address</label>
        </div>

        <div class="d-grid">
            <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit</button>

        </div>

        
        <div class ="form-floating mb-5">
            <h1 style="text-align:center" class="text-danger">@ViewBag.ErrorMessage</h1>
       </div>

    </form>
</div>
